html{
    /*font-family: 'Titillium Web', sans-serif;*/
    /*color: darkgrey;*/
    height: 100%;
    font-size: 100%;
    margin: 0;
}

/*.chatRooms .newRoomButton {
    position: relative;
    left:160px;
    top: -30px;
    color: black;
}*/

.chatRooms {
    position: fixed;
    background-color: #DEDEDE;
    font-family: 'Titillium Web', sans-serif;
    color: darkgrey;
    width: 25%;
    height: 100%;
    padding: 1rem;
}

.chatRooms h2 {
    position: relative;
    color: black;
    top: 0;
    left: 0;
    z-index: 0;
}

.chatRooms .newRoomButton {
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 0;
}
