html {
    height: 100%;
    font-size: 100%;
}

body {
    background-color: white;
}

/*Sidebar*/

.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 20%;
    height: 100%;
    background-color: lightgray;
    z-index: 1;
}

.roomList {
    padding-left: 10px;
    margin-bottom: 5px;
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.roomList .newRoomButton {
    margin: 0 5px;
}

h2 {
    display: inline-block;
    padding-right: 15px;
}

.sidebar .roomName {
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sidebar .roomName:hover {
    cursor: pointer;
}

/*Messages*/

.chatRooms {
    position: fixed;
    top: 0px;
    left: 250px;
    width: 80%;
    height: 100%;
    background-color: white;
    z-index: 1;
    overflow: scroll;
}


.message {
    padding-right: 10px;
}

.message .userName {
    font-weight: bold;
}

.message .sentAt {
    float: right;
    padding-right: 100px;
}

.message .userName .sentAt {
    display: inline-block;
}

.message .content {
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
}
